<a href="https://colab.research.google.com/github/ctorre46/MAT-421/blob/main/homework_1_chapter_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**9.1** Base-N and Binary
In Binary the only digits (aka "bits") available are 0 and 1, each has the coefficient of a power of 2

Ex 1: "Try it" example: Convert the number 11 (base10) into binary

In [ ]:
bin(11) # "bin" converts number given to binary

'0b1011'

Ex 2: "Try it" example: Multiply/add binary
Convert 37 (base 10) and 17 (base 10) into binary. Add and multiply resulting numbers

In [ ]:
bin(37) # converting 37 to binary

'0b100101'

In [ ]:
bin(17) # converting 17 into binary

'0b10001'

  Code so far:

In [ ]:
bin(37) # converting 37 to binary
bin(17) # converting 17 to binary
x = 0b100101 # binary of 37
y = 0b10001 # binary of 17
z = x + y # storing z value
print(f"{z:b}") # printed result of c as binary

110110

**9.2** Problem 1

In [ ]:
def my_bin_2_dec(b):
  d=0
  for digit in b:  # to obtain number from input given
    d=d*2 + int(digit) # converting the digit to an integer
    return d;

Ex 1: "Try it" Use the spacing function to determine the gap at 1e5. Verify that adding a number to 1e5 that is less than half the gap at 1e9 results in the same number.

In [ ]:
import numpy as np
np.spacing(1e5) # gap at 1e5

1.862645149230957e-09

In [ ]:
1e5 == (1e5 + np.spacing(1e5)/3) # check that adding to 1e5 is less than 1/2

True

**9.3** Round-off Error
The difference between the approximation of a decimal and the true value.

In [ ]:
5.6 - 5.387 == 0.213 # round off

False

true value of 5.6 - 5.387 :

In [ ]:
5.6 - 5.387

0.21300000000000008

Ex: Use equation 3 + 2/9 - 2/9 , run equation once. Create iteration that adds 2/9 and subtracts 2/9 the same number of times.

In [ ]:
3 + 2/9 - 2/9

3.0

In [ ]:
def add_and_subtract(iterations): # define function
  result = 3.0

  for i in range(iterations): #loop for adding 2/9 for iterations
      result += (2/9)

  for i in range(iterations): #loop for subtracting 2/9 for iterations
      result -= (2/9)
  return result

In [ ]:
add_and_subtract(1000) #run function 1000 times

3.000000000000001

In [ ]:
add_and_subtract(10000)

2.999999999999944